<h1>Register</h1>
<form action="/users/register" method="POST">
  <input type="text" id="name" name="name" value="{{name}}" class="form-control"
    placeholder="Enter Name">
  <input type="email" id="email" name="email" value="{{email}}" class="form-control"
    placeholder="Enter Email">
  <input type="password" id="password" name="password" value="{{password}}" class="form-control"
    placeholder="Enter Password">
  <input type="password" id="confirmPassword" name="confirmPassword" value="{{confirmPassword}}"
    class="form-control" placeholder="Confirm Password">
  <button type="submit" class="btn btn-primary btn-block">Register</button>
  <a href="/auth/facebook" class="btn btn-info btn-block">Facebook Login</a>
</form>
<p class="lead mt-4">
  Have An Account? <a href="/users/login">Login</a>
</p>