/* 主要容器 */
.form-container {
  position: relative;
  max-width: 350px;
  min-width: 280px;
  min-height: 300px;
  border-radius: 10px;
  border: 1px solid rgba(211, 211, 211, 0.329);
}

.title-block {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto 35px auto;
  line-height: 12px;
}

.title-block #tag {
  position: relative;
  left: -10px;
  font-size: 12px;
  margin-top: 15px;
}
.title-block #title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  flex-grow: 1;
  min-width: 200px;
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}

form {
  margin: 15px 25px 20px 25px;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

label {
  position: relative;
  left: -10px;
}

input,
select {
  position: relative;
  left: 0px;
  flex-grow: 1;
  min-width: 200px;
  height: 35px;
  margin: 8px 15px 8px 0px;
  border: 1px solid rgba(211, 211, 211, 0.808);
}
select {
  background-color: white;
}
.btn-info {
  position: relative;
  display: inline-block;
  transform: translateX(-50%);
  left: 50%;

  margin-top: 20px;
  margin-bottom: 20px;
  height: 35px;
  line-height: 30px;
  width: 35%;
  padding: 0px 12px 6px 12px;
}

@media screen and (max-width: 450px) {
  .title-block {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 360px) {
  input,
  select {
    margin: 8px 15px;
  }
  .title-block #title {
  position: relative;
  left:unset;
  transform: unset;
}
