/* 主要容器 */
.record-container {
  max-width: 300px;
  min-width: 150px;
  min-height: 300px;
  border-radius: 10px;
  border: 1px solid rgba(211, 211, 211, 0.329);
}

/* 搜尋 */
.search-block {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px;
}
.search-input-block {
  width: 75%;
  position: relative;
}
#search-input {
  border: 0.5px solid #17a2b8;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#search-icon {
  position: absolute;
  top: 13px;
  right: 5px;
  color: rgba(134, 134, 134, 0.418);
}
#search-icon:hover {
  color: black;
}
#search-btn {
  width: 25%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* 分類 */
.form-select-block {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 10px 10px;
}

.form-select {
  font-size: 12px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 4px 5px;
}

/* 總金額 */
.total-block {
  display: flex;
  margin: 6px 10px;
}
.total-name-block {
  width: 25%;
  height: 60px;
}
#total-name {
  font-size: 16px;
}
.total-amount-block {
  position: relative;
  width: 75%;
  height: 60px;
  line-height: 60px;
}
#total-amount {
  position: absolute;
  font-size: 50px;
  right: 0px;
}

/* 清單項目 */
.record-list-container {
  min-height: 250px;
  width: 300px;
}
.record-list {
  display: flex;
  max-width: 300px;
  min-width: 150px;
}
.record-list:nth-child(odd) {
  background-color: rgba(211, 211, 211, 0.329);
}
.record-list:hover {
  background-color: rgba(48, 165, 212, 0.123);
}

.list-icon-block {
  height: 50px;
  width: 60px;
  line-height: 50px;
  padding-left: 10px;
}
#list-icon {
  font-size: 25px;
  color: rgba(48, 166, 212, 0.39);
}

.list-info-block {
  height: 50px;
  width: 170px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
}
#info-date {
  font-size: 12px;
}

.list-amount-block {
  height: 50px;
  width: 80px;
  line-height: 50px;
  padding-right: 20px;
  position: relative;
}

/* 修改&刪除 */
#form-delete {
  position: absolute;
  width: 80px;
  height: 50px;
  line-height: 50px;
  right: -115px;
}

#delete-btn,
#edit-btn {
  border: 0;
  padding: 0px 2px 0px 2px;
  font-size: 12px;
}

/* 新增 */
#create-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 35px;
  line-height: 30px;
  width: 35%;
  padding: 0px 12px 6px 12px;
}
