/* 主要容器 */
.record-container {
  max-width: 350px;
  min-width: 280px;
  min-height: 300px;
  border-radius: 10px;
  border: 1px solid rgba(211, 211, 211, 0.329);
}

/* 搜尋 */
.search-block {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px;
}
.search-input-block {
  width: 75%;
  position: relative;
}
#search-input {
  border: 0.5px solid #17a2b8;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#search-icon {
  position: absolute;
  top: 13px;
  right: 5px;
  color: rgba(134, 134, 134, 0.418);
}
#search-icon:hover {
  color: black;
}
#search-btn {
  width: 25%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 6px 1%;
}

/* 分類 */
.form-select-block {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 10px 10px;
}

.form-select {
  font-size: 12px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 4px 5px;
  min-width: 75px;
  margin: auto 1px;
}

/* 總金額 */
.total-block {
  display: flex;
  margin: 6px 10px;
}
.total-name-block {
  width: 25%;
  height: 60px;
}
#total-name {
  font-size: 16px;
}
.total-amount-block {
  position: relative;
  width: 75%;
  height: 60px;
  line-height: 60px;
}
#total-amount {
  position: absolute;
  font-size: 50px;
  right: 0px;
}

/* 清單項目 */
.record-list-container {
  min-height: 280px;
  min-width: 200px;
}
.record-list {
  display: flex;
  max-width: 500px;
  min-width: 200px;
}
.record-list:nth-child(odd) {
  background-color: rgba(211, 211, 211, 0.329);
}
.record-list:hover {
  background-color: rgba(48, 165, 212, 0.123);
}

.list-icon-block {
  height: 50px;
  width: 20%;
  min-width: 50px;
  line-height: 50px;
  padding-left: 10px;
}
#list-icon {
  font-size: 25px;
  color: rgba(48, 166, 212, 0.39);
}

.list-info-block {
  height: 50px;
  width: 55%;
  min-width: 130px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  padding: 3px 0px;
}
#info-date {
  font-size: 12px;
}

.list-amount-block {
  position: relative;
  height: 50px;
  width: 25%;
  min-width: 80px;
  line-height: 50px;
  padding-right: 25px;
}

/* 修改&刪除 */
#form-delete {
  position: absolute;
  width: 80px;
  height: 50px;
  line-height: 50px;
  right: -115px;
  padding-right: 15px;
}

#delete-btn,
#edit-btn {
  border: 0;
  padding: 0px 2px 0px 2px;
  font-size: 12px;
}

/* 新增 */
#create-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 35px;
  line-height: 30px;
  width: 35%;
  padding: 0px 12px 6px 12px;
}

/* 手機顯示 修改、刪除 */
.edit-btn-phone-block,
.form-delete-phone-block {
  display: none;
}

@media screen and (max-width: 550px) {
  #form-delete {
    /* visibility: hidden !important; */
    top: -9999px !important;
    left: -9999px !important;
    color: red;
  }

  .edit-btn-phone-block {
    position: absolute;
    left: 5px;
    width: 5px;
    margin-top: 10px;
  }
  #edit-btn-phone,
  #delete-btn-phone {
    font-size: 16px;
    padding: 3px;
    border: 0;
  }
  .form-delete-phone-block {
    position: absolute;
    right: 20px;
    width: 5px;
    margin-top: 10px;
  }
}
