/* 主要容器 */
.login-container {
  position: relative;
  max-width: 350px;
  min-width: 280px;
  min-height: 300px;
  border-radius: 10px;
  border: 1px solid rgba(211, 211, 211, 0.329);
}

.login-container > h1 {
  position: relative;
  display: inline-block;
  transform: translateX(-50%);
  left: 50%;
  margin: 15px auto;
}

.login-container > form {
  margin: 15px;
}

.login-container > form > input {
  margin-bottom: 10px;
}
.login-container > form > button {
  margin-top: 30px;
}

.login-container > p {
  margin: 25px 15px;
}
