/* 主要容器 */
.new-container {
  position: relative;
  max-width: 350px;
  min-width: 280px;
  min-height: 300px;
  border-radius: 10px;
  border: 1px solid rgba(211, 211, 211, 0.329);
}

.title-block {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto 35px auto;
  line-height: 12px;
}

.title-block #tag {
  flex-basis: 0.25;
  font-size: 12px;
  margin-top: 15px;
}
.title-block #title {
  flex-grow: 1;
  min-width: 200px;
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}

form {
  margin: 15px 25px 20px 25px;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

label {
  flex-basis: 0.25;
}

input,
select {
  flex-grow: 1;
  min-width: 200px;
  height: 35px;
  margin: 8px 15px;
  border: 1px solid rgba(211, 211, 211, 0.808);
}
select {
  background-color: white;
}
button {
  position: relative;
  display: inline-block;
  transform: translateX(-50%);
  left: 50%;

  margin-top: 20px;
  margin-bottom: 20px;
  height: 35px;
  line-height: 30px;
  width: 35%;
  padding: 0px 12px 6px 12px;
}
